@charset "utf-8";

table {
    border-collapse: collapse;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
caption {
    font-size: 1.4em;
    font-weight: bolder;
}
td {
    text-align: center;

}

td, th {
    border: 1px solid black;
    padding: 5px;

}
th {
    background-color: gray;
    font-size: 1.3em;
    font-variant: small-caps;
    
}